
/*reset */ 
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* format */

body
{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

h1{
    font-size: 43px;
}

header
{
    background-color: white;
}

/*main*/

.container
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 35px;
}

.top
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    border-bottom: 2px solid;
    border-color: #f6f8f9;
}

.btn
{
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid;
    padding: 4px 8px;
    display: inline-block;
}

.btn-on
{
    background-color: #14aaf5;
    color: white;
    
}

.btn-off
{
    
    border-color: #c4cbd0;
    color: #c4cbd0;
    
}